configuration
{
    modi: "combi,drun,run,ssh,window";
    combi-modi: "drun,run,ssh,window";
    /* font: "IBM Plex Mono,IBM Plex Mono Medium 12"; */
    font: "Hack 10";
    theme: ".config/rofi/theme.rasi";
}

/* vim:ft=css

