:root {
    /* Color variables */
    --charcoal-deep:   #1a1a1a;
    --charcoal-medium: #202020;
    --charcoal-light:  #2d2d2d;

    --txt-deep:        #dbd5d4;
    --txt-medium:      #ded8d7;
    --txt-light:       #f2ecea;

    /* Overwrite Firefox's defaults */
    --in-content-text-color: var(--txt-medium);

    --in-content-border-active:        var(--txt-medium)      !important;
    --in-content-border-active-shadow: none                   !important;
    --in-content-page-background:      var(--charcoal-medium) !important;

    scrollbar-color: var(--charcoal-light) var(--charcoal-medium);
    scrollbar-width: auto;
}

@-moz-document
url("about:home"),
url("about:blank"),
url("about:newtab"),
url("about:privatebrowsing"),
url("about:preferences") {

    body {
        --newtab-search-icon: transparent !important;
        color: var(--txt-medium) !important;
        background-color: var(--charcoal-deep) !important;
    }

    a, a:visited, a:hover {
        color: var(--charcoal-medium) !important;
    }

    #newtab-search-text {
        box-shadow: none !important;
        border:     none !important;

        background-color: var(--charcoal-medium) !important;

        text-align:  center            !important;
        color:       var(--txt-medium) !important;
        font-size:   18px              !important;
        font-weight: bold              !important;
    }

    /* Search */
    .search-wrapper input {
        --newtab-textbox-focus-boxshadow: none !important;
        padding-left:                     20px !important;
        padding-inline-end:               13px !important;
    }

    .search-wrapper .logo-and-wordmark .wordmark {
        display: none !important;
    }

    .search-wrapper .logo-and-wordmark {
        margin-bottom: 40px !important;
        padding-top:   60px !important;
        opacity:       0.9  !important;
    }

    .search-button{
        background: none !important;
    }

    /* Preferences */
    .prefs-button button {
        fill: var(--txt-medium) !important;
    }

    .prefs-button button:hover, .prefs-button button:focus {
        background-color: transparent !important;
    }

    .contentSearchSuggestionTable {
        display: none !important;
    }
}

